body {
    background-color: #658864;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #A6BB8D;
    border-width: 10px;
    width: 5%;
}

h1 {
    color: #EAE7B1;
}

h3 {
    color: #EAE7B1;
}

table {
    border-spacing: 30px;
}

