body {
    background-color: #8DCBE6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #FFEA20;
    border-width: 10px;
    width: 30%;
}

h1 {
    color: #FFEA20;
}

H3 {
    color: #FFEA20;
}

